/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .res-tab-order-2 {
        order: 2;
    }
    .res-tab-order-3 {
        order: 3;
    }
    
    .mean-container a.meanmenu-reveal {
        margin-top: -40px;
    }
    .single-hero {
        height: 1000px;
    }
    .hero-image-wrap {
        max-width: 290px;
        margin: 65px auto 0;
    }
    .hero-content {
        margin-top: 0;
        text-align: center;
    }
    .hero-content h2 {
        font-size: 60px;
        line-height: 58px;
    }
    .hero-content h4 {
        margin-bottom: 25px;
    }
    .hero-social {
        left: calc(50% - 0px);
        bottom: 30px;
        width: 100%;
        transform: translateX(-50%);
        text-align: center;
    }
    .social-wrap.hero-social a {
        margin-right: 0;
        margin: 0 12.5px;
    }
    .service-area-wrap {
        padding: 70px 20px 120px;
    }
    .service-icon {
        width: 65px;
        height: 65px;
        line-height: 65px;
        font-size: 18px;
    }
    .single-service h4 {
        font-size: 21px;
    }
    
    .button-group button {
        font-size: 18px;
        margin: 0 12px;
    }
    .testimonial-carousel-wrap {
        padding: 90px 40px;
    }
    .contact-media-wrap {
        margin-top: 35px;
    }
    .footer-image-wrap {
        display: none;
    }
    
    .blog-details {
        padding: 25px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /*theme-2*/
    .theme-2 .header-cta-btn-wrap .box-btn {
        margin-right: 60px;
    }
}

/* small mobile :320px. */
@media (max-width: 767px) {
    .mean-container a.meanmenu-reveal {
        margin-top: -50px;
    }
    .area-title h2 {
        font-size: 28px;
        margin-top: 13px;
    }
    
    .single-hero {
        height: 1000px;
    }
    .hero-image-wrap {
        max-width: 290px;
        margin: 65px auto 0;
    }
    .hero-content {
        margin-top: 0;
        text-align: center;
    }
    .hero-content h2 {
        font-size: 60px;
        line-height: 58px;
    }
    .hero-content h4 {
        margin-bottom: 25px;
    }
    .hero-social {
        left: calc(50% - 0px);
        bottom: 30px;
        width: 100%;
        transform: translateX(-50%);
        text-align: center;
    }
    .social-wrap.hero-social a {
        margin-right: 0;
        margin: 0 5px;
    }
    .social-wrap.hero-social a {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 20px;
    }
    .about-me-content {
        margin-bottom: 75px;
    }
    .button-group button {
        font-size: 15px;
        margin: 5px 8px;
    }
    .single-portfolio {
        margin: 15px 0;
    }
    .testimonial-carousel-wrap {
        padding: 100px 20px;
    }
    .testimonial-carousel .owl-dots div {
        margin: 0 4px;
    }
    .contact-media-wrap {
        margin-bottom: 60px;
    }
    .footer-top {
        padding-top: 75px;
        padding-bottom: 65px;
        border-top-right-radius: 200px;
    }
    .footer-widget .social-wrap a {
        margin: 0 5px;
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 16px;
    }
    .footer-widget.footer-menu a {
        font-size: 17px;
        margin: 12px 15px
    }
    .footer-image-wrap {
        display: none;
    }
    .footer-bottom p {
        font-size: 17px;
    }
    
    .blog-details {
        padding: 18px;
    }
    .blog-meta {
        display: none;
    }
    .blog-details .social-wrap a {
        margin-right: 0;
        margin: 0 5px;
    }
    .blog-details .social-wrap a {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 20px;
    }
        /*theme-2*/
    .theme-2 .hero-content {
        padding-top: 150px;
    }
    .theme-2 .hero-content h3.lt-spance-7 {
        font-size: 28px;
        letter-spacing: .5rem;
    }
    .theme-2 .hero-content h2 .text-outline {
        font-size: 110px;
        z-index: 111;
        position: relative;
    }
    .theme-2 .area-title .area-title-text-outline {
        font-size: 45px;
    }
    .theme-2 .area-title h2 {
        font-size: 33px;
        margin-top: 0;
    }
    .theme-2 .area-title h4 {
        font-size: 20px;
    }
    .theme-2 .hero-content h2 strong {
        font-size: 45px;
    }
    .theme-2 .hero-content img {
        width: 280px;
        margin-left: -140px;
        top: 0;
    }
    
    .theme-2 .about-image-wrap {
        margin-bottom: 35px;
    }
    
    .theme-2 .project-content .btn {
        margin-left: 0;
        margin-top: 15px;
    }
}



/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {width:450px}
}