/*
  Theme Name: Name - Smartfolio | HTML5 Portfolio Template
  Author: 
  Support: 
  Description: HTML5 Portfolio template.
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1. Theme default css
2. header
3. slider
4. about-area
5. features-box
6. department
7. team
8. video-area
9. counter
10. footer
*/



/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
    overflow-x: hidden;
}
img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.owl-carousel .owl-item img {
    width: auto;
    display: inline-block;
}
a, .button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	display: inline-block;
	cursor: pointer;
	color: #1696e7;
	outline: medium none;
	border: 0;
}
a:focus, a:hover {
	color: #2B96CC;
	text-decoration: none;
}
a:focus, .button:focus {
	text-decoration: none;
	outline: 0;
}
button:focus, input:focus, textarea, textarea:focus { 
	outline: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	margin-top: 0px;
	font-style: normal;
	font-weight: 700;
	text-transform: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
ul.list-inline > li {
	display: inline-block;
}
p {
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	color: #bcbcbc;
	margin-bottom: 15px;
}
p:last-child {
	margin-bottom: 0;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}


.owl-carousel .owl-nav div {
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
	height: 40px;
	left: 20px;
	line-height: 40px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 40px;
}
.owl-carousel .owl-nav div.owl-next {
	left: auto;
	right: 20px;
}
.owl-carousel:hover .owl-nav div {
	opacity: 1;
	visibility: visible;
}
.owl-carousel .owl-nav div:hover {
	background: #2B96CC;
	color: #fff
}

/* scrollUp */
#scrollUp {
	background: #000;
	height: 35px;
	width: 35px;
	right: 30px;
	bottom: 30px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 34px;
}
#scrollUp:hover {
	background: #444;
}

.box-btn {
    background-color: #000;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.box-btn.btn-block {
    border-radius: 50px;
}








/* area style start */
.area-title {
	margin-bottom: 50px;
}
.area-title img {
	margin-bottom: 5px;
}
.area-title h2 {
	font-size: 48px;
}
.area-padding {
	padding: 160px 0;
}
.area-padding-top {
    padding-top: 160px;
}
.area-padding-bottom {
    padding-bottom: 160px;
}
.pdt-55 {
    padding-top: 55px;
}
.sub-heading {
	font-size: 24px;
	font-weight: 400;
	text-transform: capitalize;
    margin-bottom: 15px;
}
.bg-img-cc {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
/* area style end */

























/* header start */
.header-area {
	padding: 40px 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 11;
}
.main-menu > ul > li > a {
    font-size: 20px;
    color: #000;
    line-height: 36px;
    margin-left: 45px;
    position: relative;
}
.main-menu > ul > li > a.active:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #000;
}
.main-menu > ul > li.has-submenu {
    position: relative;
}
.main-menu > ul > li > .submenu {
    position: absolute;
    left: 45px;
    top: 125%;
    background-color: #fff;
    width: 175px;
    text-align: left;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.main-menu > ul > li:hover > .submenu {
    top: 100%;
    opacity: 1;
    visibility: visible;
    z-index: 3;
}
.submenu > li > a {
    padding: 10px 20px;
    border-bottom: 1px solid #d3d3d3;
    display: block;
    font-size: 16px;
    color: #000;
}
.submenu > li > a:hover {
    opacity: .75;
}

.header-area.header-static {
    position: static;
    left: auto;
    top: auto;
}
/* header end */

/* hero start */
.single-hero {
	position: relative;
	height: 930px;
}
.hero-content {
	margin-top: 89px;
}
.hero-image-wrap {
	max-width: 480px;
	margin: 240px auto 0;
}
.hero-image-wrap img {
	width: 100%;
}
.hero-content h2 {
    font-size: 107px;
    line-height: 97px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.hero-content h2 .text-outline {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
}
.hero-content h4 {
    font-size: 24px;
    margin-bottom: 57px;
    font-weight: 400;
}
.hero-btn {
    background-color: #000;
    border-radius: 10px;
    height: 60px;
    min-width: 197px;
    line-height: 60px;
    text-align: center;
    color: #fff;
	font-size: 24px;
	font-weight: 600;
    padding: 0 35px;
}
.hero-social {
	position: absolute;
	left: calc(50% - -15px);
	bottom: 0;
}
.social-wrap a {
    width: 51px;
    height: 51px;
    text-align: center;
    line-height: 51px;
    background-color: #b7b7b7;
    border-radius: 50%;
    margin-right: 26px;
    color: #fff;
    font-size: 25px;
    transition: all 0.3s ease-out;
}
.social-wrap a:hover {
	background-color: #000;
}
.hero-shape-1 {
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% - 356px);
	content: "";
	background-color: #f3f3f3;
	border-bottom-right-radius: 250px;
	height: 100%;
	z-index: -1;
}
/* hero end */

/* about-area start */
.about-me-content p {
	font-size: 20px;
	font-weight: 300;
	line-height: 36px;
	color: #707070;
	margin-bottom: 32px;
}
.single-progress {
	margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 20px;
}
.single-progress .progress-heading label,
.single-progress .progress-heading span {
	font-size: 24px;
	color: #000;
	display: inline-block;
	margin-bottom: 20px;
}
.single-progress .progress {
    height: 10px;
    background-color: #E5E5E5;
	overflow: visible;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.single-progress .progress-bar {
    background-color: #A4A4A4;
	position: relative;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.single-progress .progress-bar span {
    position: absolute;
    right: -16px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #ff5353;
    color: #fff;
    border-radius: 50%;
    font-size: 9px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.single-progress .progress-bar:after {
	content: "";
	position: absolute;
	right: -18px;
	margin-top: -18px;
	top: 50%;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #000;
}
/* about-area end */

/* service-area start */
.service-area-wrap {
    padding: 100px 50px;
    background-color: #f3f3f3;
    border-radius: 200px;
}
.single-service {
	margin: 30px 0;
}
.service-icon {
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
    margin: 0 auto 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    font-size: 30px;
}
.single-service h4 {
	font-size: 24px;
	margin-bottom: 0;
	font-weight: 400;
    text-transform: capitalize;
}
/* service-area end */

/* portfolio-area start */
.button-group {
    margin-bottom: 15px;
}
.button-group button {
    background: transparent;
    border: 0;
    font-size: 20px;
    color: #000;
    padding: 5px 0;
	margin: 0 27px;
	position: relative;
	cursor: pointer;
}
.button-group button:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 1px;
	background: #000;
	transition: all 0.3s ease-in-out;
}
.button-group button.active:after {
	width: 100%;
}
.single-portfolio {
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0 0 15px rgba(0, 0, 0, .09);
	display: block;
	margin: 30px 0;
}
.portfolio-image {
	height: 265px;
	width: 100%;
}
.portfolio-content h5 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 23px;
    margin-bottom: 10px;
}
.portfolio-content p {
    font-weight: 300;
    margin-bottom: 18px;
}
.single-portfolio .btn.btn-outline-dark {
    font-size: 16px;
    padding: 12px 35px;
}
.btn-block.view-more-btn {
    font-size: 16px;
    font-weight: 400;
    margin: 0 20px;
    width: calc(100% - 40px);
    padding: 15px 25px;
}
/* portfolio-area end */

/*testimonial-area start*/
.testimonial-carousel-wrap .area-title {
    margin-bottom: 55px;
}
.testimonial-carousel-wrap {
    background-color: #f3f3f3;
    border-radius: 100px;
    padding: 100px 75px;
}
.testimonial-carousel.owl-carousel .owl-stage-outer {
    padding: 15px;
    margin: -15px;
}
.single-testimonial {
    border-radius: 30px;
    margin-top: 71px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.testimonial-authoer-wrap {
    width: 120px;
    height: 120px;
    margin: -60px auto 0;
    border: 4px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.testimonial-content {
    padding-bottom: 35px;
}
.testimonial-carousel .owl-dots {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -45px;
}
.testimonial-carousel .owl-dots div {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #707070;
    margin: 0 5px;
    border-radius: 50%;
    margin-top: 3px;
    margin-bottom: 3px;
    transition: all 0.3s ease-out;
}
.testimonial-carousel .owl-dots div.active {
    height: 16px;
    width: 16px;
    background-color: #000;
    margin-top: 0;
    margin-bottom: 0;
}
/*testimonial-area end*/

/*blog-area start*/
.single-blog {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.blog-thumb {
    height: 265px;
    width: 100%;
}
.blog-author-image-wrap {
    width: 72px;
    height: 72px;
    margin: -36px auto 0;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}





.button-group.blog {
    padding: 30px 5px 35px;
    background-color: #f3f3f3;
    border-radius: 20px;
}
.blog-details {
    padding: 50px 195px;
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.blog-meta-wrap {
    position: relative;
}
.post-author {
    font-weight: 400;
}
.blog-meta {
    position: absolute;
    right: 0;
    top: 55%;
    transform: translateY(-50%);
    font-weight: 300;
}
.blog-details .blog-thumb {
    height: 538px;
    border-radius: 30px;
}
.blog-details .blog-author-image-wrap {
    width: 115px;
    height: 115px;
    margin-top: -58px;
}
.blog-details .blog-author-image-wrap img {
    width: 100%;
}


.blog-details h4.blog-title {
    font-size: 32px;
    font-weight: 600;
}
.blog-details .blog-content p {
    font-size: 20px;
    line-height: 38px;
    color: #000;
    text-align: justify;
}
.blog-details .social-wrap a {
    margin-right: 0;
    margin: 0 10px;
}
/*blog-area end*/

/*brand area start*/
.brand-carousel {
    padding: 71px 40px;
    border-radius: 300px;
    background-color: #f3f3f3;
}
.brand-area.c-page {
    margin-bottom: 150px;
}
/*brand area end*/

/*contact-area start*/
.media-icon {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 25px;
}
.media-text {
    margin-top: 7px;
}
.media-text h5 {
    font-size: 20px;
    margin-bottom: 3px;
}
.contact-form label {
    font-size: 20px;
    color: #000;
}
.contact-form .form-control {
    border: 1px solid #000;
    padding: 17px 32px;
    border-radius: 36px;
}
.contact-form .form-group button {
    border-radius: 50px;
    margin-top: 8px;
}
/*contact-area end*/

/*footer start*/
.footer-top {
    background-color: #f3f3f3;
    padding-top: 45px;
    padding-bottom: 40px;
    border-top-right-radius: 250px;
    position: relative;
    overflow: hidden;
}
.footer-about img {
    margin-bottom: 35px;
}
.footer-about p {
    font-size: 20px;
    font-weight: 300;
    color: #000;
    margin-bottom: 28px;
    line-height: 38px;
}
.footer-widget .social-wrap a {
    margin-right: 0;
    margin: 0 15px;
}
.footer-widget.footer-menu a {
    font-size: 20px;
    color: #000;
    margin: 0 22px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}
.footer-image-wrap {
    position: absolute;
    right: -20px;
    bottom: -38px;
}
.footer-bottom {
    background-color: #000;
    padding: 26px 0;
}
.footer-bottom p {
    color: #fff;
    font-size: 20px;
}
/*footer end*/

/*theme-2 start*/
/*home-2 start*/
body.theme-2 {
    font-family: 'Arvo', serif;
}
.theme-2 .main-menu > ul > li > a {
    color: #828282;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 25px;
    padding: 0 0;
}
.theme-2 .main-menu > ul > li > a.active {
    color: #000;
}
.theme-2 .main-menu > ul > li > a:after {
    display: none;
}
.theme-2 .box-btn {
    border-radius: 0;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 9px 32px;
}

.theme-2 .single-hero {
    height: 870px;
}
.theme-2 .hero-content {
    position: relative;
    margin-top: 200px;
}

.theme-2 .hero-content h3.lt-spance-7 {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.7em;
    color: #1B1B1B;
    position: relative;
    z-index: 111;
    
}
.theme-2 .hero-content h2 .text-outline {
    font-size: 300px;
    line-height: 250px;
    -webkit-text-stroke-width: 2px;
    color: #bdbdbd;
    position: static;
    z-index: -1;
    line-height: 1.25;
}
.theme-2 .hero-content h2 strong {
    position: relative;
    z-index: 999;
    font-size: 110px;
}
.theme-2 .hero-content img {
    position: absolute;
    left: 50%;
    top: 52px;
    z-index: 1;
    width: 354px;
    margin-left: -177px;
}










































.theme-2 .area-title {
    position: relative;
}
.theme-2 .area-title .area-title-text-outline {
    font-size: 100px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-weight: 700;
    text-transform: uppercase;
    color: #bdbdbd;
    display: block;
}
.theme-2 .area-title h2 {
    margin-top: -87px;
    font-size: 50px;
    margin-bottom: 20px;
}
.theme-2 .area-title h4 {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.16em;
    color: #BDBDBD;
}





























.theme-2 .about-text p {
    color: #4f4f4f;
    line-height: 1.8;
    font-size: 14px;
    line-height: 2.25;
}









































































.service-area {
    background-color: #f2f2f2;
    padding: 30px 0 60px;
}
.theme-2 .single-service h4 {
    font-size: 30px;
    color: #5a5a5a;
}
.theme-2 .service-icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 0;
    transform: rotate(45deg);
    display: inline-block;
    margin-bottom: 30px;
}
.theme-2 .service-icon i,
.theme-2 .service-icon img {
    transform: rotate(-45deg);
}

























































































.single-project {
    background-color: #f2f2f2;
    border: 0;
    margin: 15px 0;
}
.project-thumb {
    height: 399px;
}
.project-content h3 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 15px;
}

.project-content p {
    color: #4D4D61;
}

.project-content .btn {
    border-radius: 0;
    color: #000;
    border-color: #000;
    text-transform: uppercase;
    font-size: 15px;
    padding: 8px 29px;
    margin-left: 5px;
}
.project-content .btn:hover {
    background-color: #000;
    background-color: #000;
    color: #fff;
}




.theme-2 .box-btn.view-more-btn {
    padding: 15px 32px;
    font-weight: 700;
}
















































































.theme-2 .contact-form label {
    font-size: 14px;
    margin-bottom: 15px;
}
.theme-2 .contact-form .form-control {
    border: 0;
    padding: 17px 32px;
    border-radius: 0;
    background-color: #f2f2f2;
}
.theme-2 .contact-form textarea.form-control {
    min-height: 183px;
}
.theme-2 .contact-form .form-group button {
    border-radius: 0;
    padding: 13px 15px;
    font-weight: 700;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}






















































































.theme-2 .brand-area {
    background-color: #f3f3f3;
    padding: 35px 0;
}
.theme-2 .brand-carousel {
    padding: 0 0;
    border-radius: 0;
    background-color: transparent;
}

































































.theme-2 .footer-top {
    color: #c7c7c7;
    background-color: #4e4e4e;
    border-radius: 0;
    padding-top: 60px;
    padding-bottom: 70px;
}
.theme-2 .footer-about p {
    color: #c7c7c7;
}
.theme-2 .footer-widget .social-wrap a {
    border-radius: 0;
}
.theme-2 .footer-widget.footer-menu a {
    color: #828282;
    border-bottom: 0;
    padding-bottom: 0;
}
.theme-2 .footer-widget.footer-menu a:hover {
    color: #fff;
}
.theme-2 .footer-image-wrap {
    right: 15px;
    bottom: 0;
}
/*home-2 end*/
/*theme-2 end*/






















































/*preloader start*/
.dark #preloader {
  background-color: #232323;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 999999;
}

.preloader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.preloader span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #000;
  -webkit-animation: preloader 1.3s linear infinite;
  animation: preloader 1.3s linear infinite;
}

.preloader span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}
/*preloader end*/